*{
		margin: 0 auto;
	padding: 0;
	text-align: center;}

/*ESTILOS INDEX.HTML*/
#home{
background: -webkit-linear-gradient(bottom left, rgba(103,250,132,1) 0%, rgba(250,250,105,1) 37%, rgba(250,105,158,1) 100%);
background: -o-linear-gradient(bottom left, rgba(103,250,132,1) 0%, rgba(250,250,105,1) 37%, rgba(250,105,158,1) 100%);
background: linear-gradient(to top right, rgba(103,250,132,1) 0%, rgba(250,250,105,1) 37%, rgba(250,105,158,1) 100%);
height: 100vh;
}
.logo{
	width: 300px;
	padding: 30px;
	box-sizing: border-box;
}
.dropdown label{
	color: #fff;
	font-weight: normal;
}
.btn-default{
	background-color: transparent;
	color: #fff;
	border: none;
}
.btn-default:hover{
	background-color: transparent;
	color: #F03757;
}

#sign-in input{
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	padding: 30px;
	text-align: left;
	width: 100%;
	margin: 0 auto;
}
.input-in{
	margin: 20px 0;
}
#sign-in input::placeholder{
	color: #fff;
	font-size: 20px;
}
.btn-sign-in{
	background-color: transparent;
	border: 1px solid #fff;
	padding: 20px;
	width: 100%;
	font-size: 20px;
}
.btn-sign-in a{
	color: #fff;
}
.btn-sign-in a:hover{
	color: #F03757;
	text-decoration: none;
}
#recordar{
	margin-top: 20px;
	color: #fff;
}
#recordar a{
	color: #fff;
}
#recordar a:hover{
	color:  #F03757;
}
.facebook{
	display: inline-block;
}
#recordar i{
	font-size: 25px;
	margin-right: 10px;
}
#registrate{
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #fff;
	padding: 20px;
	color: #fff;
}
#registrate p{
	margin: 0;
}
#registrate a{
	color: #fff;
	text-decoration: none;
}
#registrate a:hover{
	color: #F03757;
}

/*ESTILOS ERROR INPUT JS*/
.error{
	background-image: url(../img/error.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: right;
}


/*ESTILOS GALERIA.HTML*/
#galeria{
	background-color: #262626;
}

.collage{
	width: 100%;
	height: 500px;
	background-color: #fff;
}
.collage img{
	margin: 0 5px;
}
.galeria{
	width: 100%;
	margin: 0;
	padding: 0;
}
.container-photos img{
	cursor: pointer;
	margin: 3px;
}

.insta-booth{
	display: inline-block;
	font-size: 25px;
	padding: 40px 0;
	color: #3154CD;
	text-align: center;
}
.insta i{
	font-size: 25px;
	color: #3154CD;
}